.articleList {
  display: flex;
  height: fit-content;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5em;
}

.item {
  background-color: brown;
  border-radius: 0.5em;
  background-color: #fff;
  padding: 1em;
  width: 20em;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 0 0.5em #27272733;
  transition: all 0.3s ease-in-out;
}

.item:hover {
  transform: scale(1.05);
}

.title {
  font-size: 1.2em;
  font-weight: 400;
}

.title:hover {
  text-decoration: underline;
}

.description {
  font-size: 0.96em;
  font-weight: 300;
}

.date {
  margin: unset;
  font-size: 0.9em;
  color: #222222;
}

.thumbnail {
  transition: all 0.3s ease-in-out;
}

/* .thumbnail:hover {
  transform: scale(1.05);
} */

.thumbnail img {
  border-radius: 0.2em;
  width: 100%;
}


.chip {
  display: inline-block;
  padding: 0 25px;
  height: 50px;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: var(--primary-blue);
  margin-top: auto;
  border-style: outset;
  border-color: #252e48;
  border-width: 4px;
}

.chip img {
  float: left;
  margin: 0 10px 0 -25px;
  height: 40px;
  width: 50px;
  border-radius: 45%;
  border-style: inset;
  border-width: 2px;
  border-color: #be9656;
}

.chip :hover {
  color: white;
}
