@import './variables.scss';

.articleList {
  display: flex;
  height: fit-content;
  gap: 1em;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $primary-gray;
  
  

  .item {
    border-radius: 0.5em;
    background-color: $primary-gray;
    color: #fff;
    padding: 1em;
    width: 50em;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    

    .thumbnail {

      img {
        border-radius: 0.5em;
        width: 100%;
      }
       
      
    }

    .title {
      font-size: 1.2em;
      font-weight: 400;
    }

    .description {
      font-size: 0.96em;
      font-weight: 300;
    }
    
    .date {
      margin: unset;
      font-size: 0.9em;
      color: #fff;
    }
    

    p {
      color: #fff;
    }


    .chipDiv {
      display: flex;
      justify-content: center;

      .chip {
        display: flex;
        
        line-height: 50px;
        border-radius: 25px;
        background-color: $primary-gray;
        width: 11rem;
        color: #fff;
        flex-direction: row-reverse;
        justify-content: flex-end;
        
        font-size: large;
        font-weight: bold;
        border-style: outset;
        border-color: $primary-orange;
  
        &:hover {
          background-color: $primary-orange;
          border-style: inset;
          transition: background-color 0.3s;
      }
    }
      .miniImg {
        justify-content: space-around;
        border-radius: 50%;
       
      }
    }
    
  }
}



 