@import './variables.scss';

.nav {
    display: flex;
    align-items: center;
    gap: 3em;
    padding: 4em;
    background-color: $primary-gray;
    position: relative;

    @media screen and (max-width: 495px) {
  
        border-bottom-style: solid;
        border-bottom-color: #BE8736;
        }

    .miniLogo {
        cursor: pointer;
        transition: 0.3s;

        &:hover {
            scale: 110%;
        } 

        @media screen and (max-width: 495px) {
  
            scale: 110%;
            
            }
    }

   
    .home {
        font-size: 2em;
        font-weight: 500;
    }

    .bio {
        font-size: 1.5em;
        font-weight: 400;
        color: #fff;
        border-style:outset;
        padding: 1rem;
        border-color: $primary-orange;
        font-size: large;
        font-weight: bold;
        height: 60px;
        max-width: 200px;
        border-radius: 30px;

        &:hover {
            background-color: $primary-orange;
            border-style: inset;
            transition: background-color 0.3s;
            border-color: #BE8736;
        }


        @media screen and (max-width: 495px) {
  
            display: none;
            
            }
       
    }

  

}

.subBtn {
    background: $primary-orange;
    color: #fff;
    border-style:inset;
        padding: 1rem;
        font-size: 1.5em;
        font-weight: 400;
        height: 60px;
        max-width: 200px;
        border-radius: 30px;
        cursor: pointer;  
        animation-name: change;
        animation-duration: 4s;
        animation-delay: 2s;
        animation-iteration-count: infinite;

        &:hover {
            background-color: $primary-orange;
            border-style: outset;
            transition: background-color 0.3s;
            border-color: #BE8736;
        }

    @keyframes change {
        25%  {background-color:$primary-orange; left:200px; top:0px;}
        50%  {background-color:#BE8736; left:200px; top:200px;}
       
    }
    
    @media screen and (max-width: 495px) {
  
        font-size: 10px;
        
        }
}


