@import './variables.scss';

.nav {
    display: flex;
    align-items: center;
    gap: 3em;
    padding: 4em;
    background-color: $primary-blue;
    position: relative;
    
    

    a {
        color: #fff;
    }

    .home {
        font-size: 2em;
        font-weight: 500;
    }

    .bio {
        font-size: 1.5em;
        font-weight: 400;
    }

    .home:hover,
    .bio:hover {
        text-decoration: underline;
        text-decoration-color: $primary-orange;
    }
}

.subBtn {
    background-color: $primary-orange;
    color: #fff;
    border: none;
    font-size: large;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    display: flex;  

    @media screen and (max-width: 495px) {
  
        font-size: 10px;
        }
}


