@import './variables.scss';

.containerPopup {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;  
    background-color: rgba(0,0,0,0.25);
    line-height: 1.5;
    
    
    .popupInner {
      width: 700px;
      height: 500px;
      background-color:  $primary-gray;
      display: block;
      border-width: 10px;
      border-style: solid;
      border-color: #fff;
      color: #fff;

      @media screen and (max-width: 727px) {
        padding-left: 60px;
        }
  }

  .closeBtn{
    background-color: $primary-orange; 
    color: #fff;
    position: fixed;
    top: 170px;
    right: 581px;
    width: 100px;
    height: 30px;
    font-size: large;
    font-weight: bolder;
    border-style: solid;
    border-radius: 10px;
    border-color: $primary-orange;
    cursor: pointer;
   
    @media screen and (max-width: 709px) {
      right: 10px;
      }

}

.col {
  flex: 50%;
}

  .col1 {
    display: flex; 

    @media only screen and (max-width: 726px) {
      display: none;
}
}

 .col2 {
  width: 80%;
  text-align: center;
  padding-right: 50px;
  padding-top: 60px;


 
  
  li {
    text-align: justify;
    margin-top: -5px;

    @media screen and (max-width: 727px) {
     display: none;
    }

  }

  h1 {
    margin-top: -40px;

    @media screen and (max-width: 727px) {
    padding-left: 60px;
    }

  }

  h3 {
    margin-bottom: 5px;

    @media screen and (max-width: 727px) {
      padding-left: 60px;
      }
  }
}

.bannerNewsletter {
  float: left;
  width: 360px;

  @media screen and (max-width: 495px) {
  
    display: none;
    }
}

.row {
  display: flex;
}

.labels input {
  width: 400px;
  height: 50px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  background: transparent;
  background-color: rgba(0,0,0,0.25);
  border: none;
  border-bottom: 1px solid  $primary-orange;
  color: #fff;  
}

.btnSubscribe {
  display: flex;
  width: 400px;
  height: 50px;
  padding-left: 150px;
  font-size: 1rem; 
  align-items: center;
  margin-top: 50px;
  font-size: large;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
  background-color: $primary-orange;
  color: #fff;
  cursor: pointer;
}

.checkbox {
  margin-top: 20px;
  
  label {
    padding-left: 5px;
    font-weight: bold;
    color: #fff;
  }
}

.terms {
  font-weight: bold;
  color: #be9656;

}
}





 

  

 

