@import './variables.scss';


.mdStyle {
    background-color: $primary-gray;
    color: #fff;
    text-align: center;
    border-style: inset;
    border-color: $primary-orange;

   h1 {
    padding: 50px;
   }
}