@import './variables.scss';


.mdStyle {
    background-color: $primary-gray;
    color: #fff;
    text-align: center;
    height: 100%;
    padding-bottom: 2rem;
    

   h1 {
    padding: 50px;
   }

}