@import './variables.scss';


.mdStyle {
    background-color: $primary-gray;
    color: #fff;
    height: 100%;
    padding-bottom: 2rem;
    padding: 1rem;
    
    
    p {
        width: 30%;
        margin-left: 40rem;
        text-align: justify;
        text-justify: inter-word;
        

        @media screen and (max-width: 495px) {
  
           width: 100%;
           margin-left: 0;
            }
    }

   h1 {
    padding: 50px;
    border-style: outset;
    border-color: $primary-gray;
    width: 30%;
    margin-left: 40rem;
    margin-bottom: 2rem;
    box-shadow: 5px 5px rgb(179, 123, 179);
    
   
    @media screen and (max-width: 495px) {
  
        width: 100%;
        margin-left: 0;
         }
   }

}