@import './variables.scss';

.container {
    background-color: $primary-gray;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    padding: 40px;
   
    
    
    .button {
        background-color: $primary-gray;
        border-color: $primary-orange;
        color: #fff;
        font-size: large;
        font-weight: bold;
        padding: 10px;
        cursor: pointer;
        width: 200px;
        height: 60px;
        max-width: 200px;
        &:hover {
            background-color: $primary-orange;
            border-style: inset;
            transition: background-color 0.3s;
            border-color: #BE8736;
        }
        
        @media screen and (max-width: 1420px) {
  
            display: none;
            }
}
}